body {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    font-size: 1.45vw;
}
header {
    height: 10vh;
    background: #FA1D88;
}
footer {
    height: 10vh;
    text-align: left;
    background: #573AFA;
}
h1 {
    font-size: 3em;
}
h2 {
    font-size: 2em;
}
h3 {
    font-size: 1.8em;
}
    footer p {
        margin:  3vh 0 3vh 5vw;
    }
.welcome-screen {
    margin: 0 auto;
    height: 80vh;
    display: flex;
    flex-direction: column;
    max-width: 60vw;
    justify-content: space-around;
    align-items: center
}
    .welcome-screen h2 {
        margin-top: 12vh;
    }
    .welcome-screen p {
        font-size: 1.5em;
    }
    .welcome-screen input {
        height: 7vh;
        padding: 5px;
    }
    .welcome-screen button {
        margin-bottom: 15vh;
        height: 7vh;
        width: 12vw;
        font-size: 3vh;
    }
.roundOneGameBoard {
    display: none;
}
.roundOneGameBoardLive {
    background: black;
    padding: .2vw;
    margin: 0 auto;
    height: 75vh;
    width: 80vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 3fr 3fr 3fr 3fr 3fr;
}
    .roundOneGameBoardLive div {
        border: solid 1px red;
        margin: .1vw;
    }